{% extends "doc_base.html" %}

{% block nav %}
<div class="container theme-showcase" role="main" style="margin-top: 0.5%;">
<p>
<!-- doc_editor button -->
<button class="btn btn-default" type="button" onclick="open_url('/doc_editor/{{doc.id}}')">Редактировать</button>
</p>
</div>
{% endblock %}

<div class="container">

{% block body %}
<!-- ! -->
<div id="content">
<h2>{{doc.name}}</h2>
 <table class="table table-bordered">
    <caption>Данные документа</caption>
    <tr><td>Название по документу:</td><td>{{doc.name}}</td>
    
    <!-- map -->
    <td align="center" width="20%" rowspan="5">
        <div id="map" style="width: 400px; height: 300px"></div>
            <script type="text/javascript">
                console.log('MAP!')
                var map = L.map('map').setView([{{coord.lat}},{{coord.lon}}], 10);
                
                L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                    maxZoom: 18,
                    id: 'examples.map-i875mjb7'
                }).addTo(map);
            
                L.marker([{{coord.lat}},{{coord.lon}}]).addTo(map)
                    .bindPopup('{{coord.lat}}, {{coord.lon}}').openPopup();

                var popup = L.popup();

                function onMapClick(e) {
                    popup
                        .setLatLng(e.latlng)
                        .setContent(e.latlng.toString())
                        .openOn(map);
                }
                map.on('click', onMapClick);
                L.control.fullscreen().addTo(map);
            </script>
    </td>
    </tr>
    <tr><td>Вид документа регистрации:</td><td>{{doc.source_type}}</td></tr>
    <tr><td>Орган регистрации:</td><td></td></tr>
    <tr><td>Субъект РФ:</td><td></td></tr>
    <tr><td>Административный район:</td><td></td></tr>
    <tr>
    <td>Входимость в объект (группу):</td>
        <td colspan="2">
            <script type="text/javascript">
                html_response('/object/{{doc.id}}', '#docs')
            </script>
            <div id="docs"></div>
        </td>
    </tr>
    </table>
    
    <table class="table table-bordered">
    <caption>Запасы</caption>
    <tr>
        <td>Полезное ископаемое</td><td>Группа ПИ в госпрограмме</td>
        <td>АBC1</td><td>C2</td><td>Документ утверждения запасов</td>
        <td>Номер</td><td>Дата</td><td>Организация</td>
    </tr>
    {% for pi in pis %}
    <tr>
        <td>{{pi.pi}}</td><td>{{pi.group_pi}}</td><td></td><td></td>
        <td></td><td></td><td></td><td></td>
    </tr>
    {% endfor %}
    </table>

    <table class="table table-bordered">
    <caption>Прогнозные ресурсы</caption>
    <tr>
        <td>Полезное ископаемое</td><td>Группа ПИ в госпрограмме</td>
        <td>P1</td><td>P2</td><td>P3</td>
        <td>Без категории</td><td>Документ апробации</td><td>Номер</td><td>Дата</td><td>Организация</td>
    </tr>
    {% for pi in pis %}
    <tr>
        <td>{{pi.pi}}</td><td>{{pi.group_pi}}</td><td></td><td></td>
        <td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}