{% extends "doc_base.html" %}
{% block script %}
 <script type="text/javascript">
    function group_pi_chooser(){
        var pi = $('#pi option:selected').text();
        console.log(JSON.stringify({pi:pi}));
        $.ajax({
            url: '/editor/{{doc.id}}',
            data: JSON.stringify({pi:pi})
            success:function(response) {
                console.log(response)
                alert('!')
            }
        });
        }
</script>
{% endblock %}
{% block body %}
    <table class="table table-bordered">
    <caption>Данные документа</caption>
    <tr><td>Название по документу:</td><td><input type="text" class="form-control" value="{{doc.doc_name}}" id="doc_name">
    </td></tr>
    <tr><td>Вид документа регистрации:</td><td><input type="text" class="form-control" value="{{doc.source_type}}" id="source_type"></td></tr>
    <tr><td>Орган регистрации:</td><td></td></tr>
    <tr><td>Субъект РФ:</td><td></td></tr>
    <tr><td>Административный район:</td><td></td></tr>
    <tr><td>Входимость в объект (группу):</td>
        <td>
            <script type="text/javascript">
                html_response('/object/{{doc.id}}', '#docs')
            </script>
            <div id="docs"></div>
        </td>
    </tr>
    </table>

    <table class="table table-bordered">
    <caption>Запасы</caption>
    <tr>
        <td>Полезное ископаемое</td><td>Группа ПИ в госпрограмме</td><td>АBC1</td><td>C2</td><td>Документ утверждения запасов</td><td>Номер</td><td>Дата</td><td>Организация</td>
    </tr>
    {% for pi in pis %}
    <tr>
        <td>{{pi.pi}}</td><td>{{pi.group_pi}}</td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    {% endfor %}
    </table>

    <table class="table table-bordered">
    <caption>Прогнозные ресурсы</caption>
    <tr>
        <td>Полезное ископаемое</td><td>Группа ПИ в госпрограмме</td><td>P1</td><td>P2</td><td>P3</td>
        <td>Без категории</td><td>Документ апробации</td><td>Номер</td><td>Дата</td><td>Организация</td>
    </tr>
    {% for pi in pis %}
    <tr>
        <td><select class="form-control" id="pi" onclick="group_pi_chooser()">
        <option value="{{pi.pi}}">{{pi.pi}}</option>
        {% for pi in dic_pi %}
        <option value="{{pi.pi}}">{{pi.pi}}</option>
        {% endfor %}
        </select>
       
        </td>
        <td><select class="form-control" id="group_pi">
        <option value="{{pi.group_pi}}">{{pi.group_pi}}</option>
        {% for pi_group in dic_pi_group %}
        <option value="{{pi_group}}">{{pi_group.type_pi}}</option>
        {% endfor %}
        </select>
        </td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    {% endfor %}
    </table>
</div>
<button class="btn btn-primary btn-lg center-block" type="button" onclick="doc_edit_data()" size="50">Сохранить</button>
<div class="container">

{% endblock %}


