{% extends "doc_base.html" %}
{% block script %}
<script type="text/javascript">
function postDataDoc() {
    var features_pis_id = new Array();
    var doc_name = $('#doc_name:input').val()
    var source_type_id = $('#source_type:checked').val()
    $('#features_pis:checked').each(function(){
        features_pis_id[features_pis_id.length] = $(this).val()
    });
    console.log(features_pis_id, doc_name, source_type_id);
    $.ajax({
        type: "POST",
        url: '/doc_edit_post/{{doc.id}}',
        data: JSON.stringify({features_pis_id:features_pis_id,
                            name:doc_name,
                            source_type_id:source_type_id}),
        success: function(response) {
            if (response=='Err') 'Err';
            else location.reload();
        }
    });
}
function canselEdit() {
    location.reload();
}
</script>
{% endblock %}

{% block nav %}
<div class="container theme-showcase" role="main" style="margin-top: 0.5%;">
<p>
<button class="btn btn btn-default" type="button" id="postBut" size="50" onclick="postDataDoc()">Сохранить изменения</button>
<button class="btn btn btn-default" type="button" id="" size="50" onclick="canselEdit()">Отменить изменения</button>
</p>
</div>
{% endblock %}
<div class="container">
{% block body %}
    <table class="table table-bordered">
    <caption>Данные документа</caption>
    <tr><td>Название по документу:</td><td><input type="text" class="form-control" value="{{doc.name}}" id="doc_name">
    </td>
    </tr>
    <tr><td>Вид документа регистрации:</td>
    <td>
        <select class="form-control">
        <option id="source_type" value="{{source_type.id}}">{{source_type.name}}</option>
        {% for source in dic_source_types %}
        <option id="source_type" value="{{source.id}}">{{source.name}}</option>
        {% endfor %}
        </select>
    </td>
    </tr>
    <tr><td>Орган регистрации:</td><td></td></tr>
    <tr><td>Субъект РФ:</td><td></td></tr>
    <tr><td>Административный район:</td><td></td></tr>
    <tr><td>Входимость в объект (группу):</td>
        <td>
            <script type="text/javascript">
                html_response('/object/{{doc.id}}', '#docs')
            </script>
            <div id="docs"></div>
        </td>
    </tr>
    </table>
    <table class="table table-bordered">
    <caption>Запасы</caption>
    <tr>
        <td>Полезное ископаемое</td><td>Группа ПИ в госпрограмме</td><td>АBC1</td><td>C2</td><td>Документ утверждения запасов</td><td>Номер</td><td>Дата</td><td>Организация</td>
    </tr>
    {% for pi in pis %}
    <tr>
        <td></td>
        <td></td>
        <td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    {% endfor %}
    </table>

    <table  class="table table-bordered">
    <caption>Прогнозные ресурсы</caption>
    <tr>
        <td>Полезное ископаемое</td><td>Группа ПИ в госпрограмме</td><td>P1</td><td>P2</td><td>P3</td>
        <td>Без категории</td><td>Документ апробации</td><td>Номер</td><td>Дата</td><td>Организация</td>
    </tr>
    
    <tr>
    {% for pi in pis %}
    <tr>
        <td><select class="form-control">
        <option id="features_pis" value="{{pi.pi_id}}">{{pi.pi}}</option>
        {% for pi in dic_pi %}
        <option id="features_pis" value="{{pi.pi_id}}">{{pi.pi}}</option>
        {% endfor %}
        </select>
        </td>

        <td>
        {{pi.type_pi}}
        </td>
        <td></td><td></td><td></td><td></td>
        <td></td><td></td><td></td><td></td>
    </tr>
    {% endfor %}
    </tr>
    </table>
</div>


{% endblock %}


