{% extends "base.html" %}
{% block script %}
<script>
jQuery(function(){
      jQuery('#search').click();
    });
</script>
{% endblock %}
{% block body %}
<h2>Документы</h2>
<div id='filters'>
    <table class="table table-bordered">
        <tr>
            <td><input id="searchname" type="text" value="" /></td>
            <td>полезное ископаемое</td>
            <td><button id="search" onclick="search()">Искать</button></td>
        </tr>
    </table>
</div>
<div id="search_results"></div>
{% endblock %}

