{% extends "base.html" %}
{% block script %}
<script>
$(document).ready( function() {
    search('/search')
    });
</script>
{% endblock %}
{% block body %}
<h2>Документы</h2>
<div id='filters'>
    <table class="table table-bordered">
        <tr>
            <td><input id="searchname" type="text" 
                    onkeyup="search('/search')" placeholder="Найти по названию"/>
                <!-- <button onclick="search()">Искать</button> -->
            </td>
        </tr>
    </table>
</div>
<div id="search_results"></div>
{% endblock %}

