{% extends "base.html" %}
{% block body %}
<h2>Документы - всего {{count}}</h2>
<table class="table table-bordered">
    <col width="10">
    <col width="40">
    <col width="80">
    <col width="250">
    <col width="250">
    <col width="60px">
    <col width="40">
    <tr>
    {% if user %}
    <th></th>
    {% endif %}
    <th>номер п/п</th>
    <th>источник</th>
    <th>название</th>
    <th>полезное ископмое</th>
    <th>группа пи</th>
    </tr>
    {% for doc in data %}
        <tr>
            {% if user %}
            <td><button id='doc' value='{{doc.id}}' name='checkdoc' onclick="checkdoc(this)">Выбрать</button></td>
            {% endif %}
            <td>{{doc.id}}</td>
            <td>{{doc.obj_name}}</td>
            <td>{{doc.doc_type}}</td>
            <td>{{doc.pi}}</td>
            <td>{{doc.group_pi}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}