{% extends "base.html" %}
{% block body %}
<h2>Документы - всего {{count}}</h2>
<table class="table table-bordered table-hover">
    <col width="10">
    <col width="40">
    <col width="250">
    <col width="150">
    <col width="150">
    <tr>
    <th>номер п/п</th>
    <th>источник</th>
    <th>название</th>
    <th>полезное ископмое</th>
    <th>группа пи</th>
    </tr>
    {% for doc in data %}
        <tr class="clickable-row" data-href="/workspacedoc/{{doc.id}}" style="cursor: pointer">
            <td>{{doc.id}}</td>
            <td>{{doc.doc_type}}</td>
            <td>{{doc.obj_name}}</td>
            <td>{{doc.pi}}</td>
            <td>{{doc.group_pi}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}