 <table class="table table-bordered">
<caption>Документы в объекте</caption>
    <col width="10">
    <col width="40">
    <col width="250">
    <col width="150">
    <col width="150">
    <tr>
        <th>выбор</th>
        <th>номер объекта</th>
        <th>номер документа</th>
        <th>источник</th>
        <th>название</th>
        <th>полезное ископмое</th>
        <th>группы пи</th>
    </tr>

 {% for doc in obj %}
    <tr>
    <td>
    <button class="btn btn-xs btn-danger" id="doc_id_push" onclick="pushDoc()" value="{{doc.id}}">Удалить</button>
    </td>
        <td><a href="/obj/{{doc.obj_id}}" target="_blank">{{doc.obj_id}}</a></td>
        <td><a href="/doc/{{doc.id}}" target="_blank">{{doc.id}}</a></td>
        <td>{{doc.source_type}}</td>
        <td>{{doc.name}}</td>
        <td>{{doc.pi}}</td>
        <td>{{doc.group_pi}}</td>
    </tr>
{% endfor %}

</table>