{% extends "base_obj.html" %}
{% block body %}
<script type="text/javascript">
     //picked doc template former
$(document).ready( function() {
    $.ajax({
        url:'/doc_in_obj/{{pick_id}}',
        success: function(response) {
            console.log(response);
            $("#doc_in_obj").html(response.html)
        }
    });
});
</script>
<div id="doc_in_obj"></div>
<div id='filters'>
    <table class="table table-bordered">
        <tr>
            <td>расстояние</td>
            <td><input id="searchname" type="text" value="" /></td>
            <td>полезное ископаемое</td>
            <td><button id="search" onclick="search()">Искать</button></td>
        </tr>
    </table>
</div>
</br>
<div id="search_results"></div>

{% endblock %}