<table class="table table-bordered">
    <col width="10">
    <col width="40">
    <col width="250">
    <col width="150">
    <col width="150">
    <tr>
        <th>номер объекта</th>
        <th>номер документа</th>
        <th>источник</th>
        <th>название</th>
        <th>полезное ископаемое</th>
        <th>группа пи</th>
    </tr>
        {% for doc in docs %}
        <tr>
        {% if doc.obj_id %}
            <td><a href="/obj/{{doc.obj_id}}" target="_blank">{{doc.obj_id}}</a></td>
        {% else %}
            <td>
            <a class="create" value="{{doc.id}}">Создать</a>
            </td>
        {% endif %}
            <td><a href="/doc/{{doc.id}}" target="_blank">{{doc.id}}</a></td>
            <td>{{doc.source_type}}</td>
            <td>{{doc.name}}</td>
            <td>{{doc.pi}}</td>
            <td>{{doc.group_pi}}</td>
        </tr>
        {% endfor %}
</table>

<script type="text/javascript">
$('a.create').click(function(){
    var doc_id = $(this).attr('value')
    console.log(doc_id);
    $.ajax({
        type: "POST",
        url:'/obj_create/'+doc_id,
        success: function(response){
            open_url('/obj_editor/'+response.obj_id);
        }
    });
});
</script>

<style>
   .create { cursor: pointer; }
</style>

