{% extends "base.html" %}
{% block body %}
<table class="table table-bordered">
    <col width="10">
    <col width="40">
    <col width="250">
    <col width="150">
    <col width="150">
    <tr>
    <th>номер п/п</th>
    <th>источник</th>
    <th>название</th>
    <th>полезное ископмое</th>
    <th>группа пи</th>
    </tr>
        <tr>
            <td>{{doc.id}}</td>
            <td>{{doc.doc_type}}</td>
            <td>{{doc.obj_name}}</td>
            <td>{{doc.pi}}</td>
            <td>{{doc.group_pi}}</td>
        </tr>
</table>
{% endblock %}