{% extends "doc_base.html" %}
{% block script %}
<!--  -->
<link rel="stylesheet" href="/static/ext/bootstrap/multiple_select/css/bootstrap-multiselect.css" type="text/css"/>
<script src="/static/ext/bootstrap/multiple_select/js/bootstrap-multiselect.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/ext/bootstrap/bootstrap-table/src/bootstrap-table.css" type="text/css"/>
<script src="/static/ext/bootstrap/bootstrap-table/src/bootstrap-table.js" type="text/javascript"></script>
<script src="/static/ext/bootstrap/bootstrap-table/src/bootstrap-table-ru-RU.js" type="text/javascript"></script>
<script src="/static/ext/bootstrap/bootstrap-table/src/extensions/export/bootstrap-table-export.js" type="text/javascript"></script> 
<script src="/static/ext/bootstrap/bootstrap-table/src/extensions/filter/bootstrap-table-filter.js"></script>
<!-- ! -->
<script type="text/javascript">
$(document).ready(function(){
    $.getScript("/static/js/filters.js");
});

$(function () {
    $('#get-data').click(function () {
        console.log(JSON.stringify($('#pis_table').bootstrapTable('getData')));
    });
});

function postDataDoc() {
    var doc_name = $('#doc_name:input').val();
    var doc_lon = $('#doc_lon:input').val();
    var doc_lat = $('#doc_lat:input').val();
    var source_type_id = $('#source_type:checked').val();
    console.log(selected_pis, doc_name, source_type_id);
    $.ajax({
        type: 'POST',
        url: '/doc_edit_post/{{doc.id}}',
        data: JSON.stringify({pis_id:selected_pis,
                            name:doc_name,
                            lon:doc_lon,
                            lat:doc_lat,
                            source_type_id:source_type_id}),
        success: function(response) {
            if (response=='Err') 'Err';
            else location.reload();
        }
    });
}
function canselEdit() {
    location.reload('forcedReload');
}
</script>
{% endblock %}

{% block leftnav %}
<li><a>Документ №<b>{{doc.id}}</b> Название: <b>{{doc.name}}</b></a></li>
{% endblock %}

{% block nav %}
<button class="btn btn-default navbar-btn" type="button" onclick="postDataDoc()">Сохранить изменения</button>
<button class="btn btn-default navbar-btn" type="button" onclick="canselEdit()"
>Отменить изменения</button>
{% endblock %}


{% block body %}
<div class="container">
    <table class="table table-bordered">
    <caption>Данные документа</caption>
    <tr>
        <td>Название по документу:</td><td><input type="text" class="form-control" value="{{doc.name}}" id="doc_name"></td>
     <!-- map -->
    <td align="center" width="20%" rowspan="5">
        <div id="map" style="width: 400px; height: 300px"></div>
            <script type="text/javascript">
                console.log('MAP!')
                var map = L.map('map').setView([{{coord.lat}},{{coord.lon}}], 10);
                
                L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                    maxZoom: 18,
                    id: 'examples.map-i875mjb7'
                }).addTo(map);
            
                L.marker([{{coord.lat}},{{coord.lon}}]).addTo(map)
                    .bindPopup('<input type="text" class="form-control" value = {{coord.lat}} id="doc_lat"></br>'+
                        '<input type="text" class="form-control" value = {{coord.lon}} id="doc_lon">', {maxWidth: 300, minWidth: 250, maxHeight: 160, autoPan: true, closeButton: true, autoPanPadding: [5, 5]}).openPopup();

                var popup = L.popup();

                function onMapClick(e) {
                    popup
                        .setLatLng(e.latlng)
                        .setContent(e.latlng.toString())
                        .openOn(map);
                }
                map.on('click', onMapClick);
                L.control.fullscreen().addTo(map);
                L.control.scale().addTo(map);
            </script>
    </tr>
    <tr><td>Вид документа регистрации:</td>
    <td>
        <select class="form-control">
        <option id="source_type" value="{{source_type.id}}">{{source_type.name}}</option>
        {% for source in sources_type %}
        <option id="source_type" value="{{source.id}}">{{source.name}}</option>
        {% endfor %}
        </select>
    </td>
    </tr>
    <tr><td>Орган регистрации:</td><td></td></tr>
    <tr><td>Субъект РФ:</td><td></td></tr>
    <tr><td>Административный район:</td><td></td></tr>
    <tr>
        <td>Входимость в объект (группу):</td>
            <td colspan="2">
                <script type="text/javascript">
                    html_response('/docs_in_obj/{{doc.id}}', '#docs')
                </script>
                <div id="docs"></div>
        </td>
    </tr>
    </table>

   
<div id="filter-bar">
    <button class="btn btn-default" id="get-data">
        Get Data
    </button> 
    <select id="pis" multiple="multiple" name="select[]">
        {% for pi in pis %}
        <option value="{{pi.pi_id}}" selected="true">{{pi.pi}}</option>
        {% endfor %}
        {% for pi in dic_pi %}
        <option id="dic_pi" value="{{pi.pi_id}}">{{pi.pi}}</option>
        {% endfor %}
    </select>
</div>

<table id="pis_table" data-toggle="table" data-height="299" data-toolbar="#filter-bar" data-show-toggle="true" data-show-columns="true" data-show-filter="true" data-search="true" data-side-pagination="server" data-pagination="true">
    <thead>
    <tr>
        <th data-field="pi">ПИ</th>
        <th data-field="type_pi">Группа ПИ в госпрограмме</th>
        <th data-field="unit">Ед. изм.</th>
        <th data-field="ABC1">АBC1</th>
        <th data-field="C2">C2</th>
        <th data-field="docs_approval">Документ утверждения запасов</th>
        <th data-field="docs_approval_n">Номер</th>
        <th data-field="docs_approval_date">Дата</th>
        <th data-field="docs_approval_organ">Организация</th>
        <th data-field="P1">P1</th>
        <th data-field="P2">P2</th>
        <th data-field="P3">P3</th>
        <th data-field="pi_none_categ">Без категории</th>
        <th data-field="docs_testing">Документ апробации</th>
        <th data-field="docs_testing_n">Номер</th>
        <th data-field="docs_testing_date">Дата</th>
        <th data-field="docs_testing_organ">Организация</th>
    </tr>
    </thead>
    <tbody>
    {% for pi in pis %}
    <tr>
        <td>{{pi.pi}}</td>
        <td>{{pi.type_pi}}</td>
        <td>{{pi.unit}}</td>
        <td><input type="text" class="form-control" value="{{pi.ABC1}}" id="ABC1"></td>
        <td>{{pi.C2}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{pi.P1}}</td>
        <td>{{pi.P2}}</td>
        <td>{{pi.P3}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}


