{% extends "base.html" %}
{% block script %}
<script type="text/javascript">
var selected_pis;
var selected_sources;

$(document).ready(function() {

    $('#sources_type').multiselect({
        selectAllValue: 'multiselect-all',
        includeSelectAllOption: true,
        enableFiltering: true,
        filterBehavior: 'text',
        filterPlaceholder: 'Найти',
        buttonWidth: '200px',
        nonSelectedText: 'Выбрать источник',
        selectAllText: 'Выбрать все',
        allSelectedText: 'Все источники',
        maxHeight: 300,
        checkboxName: 'multiselect[]',
        onChange: function(source, checked) {
            var sources = $('#sources_type option:selected');
            selected_sources = [];
            $(sources).each(function(index, source){
                selected_sources.push($(this).val());
            });
        }
    });


    $('#pis').multiselect({
        selectAllValue: 'multiselect-all',
        includeSelectAllOption: true,
        enableFiltering: true,
        filterBehavior: 'text',
        filterPlaceholder: 'Найти',
        buttonWidth: '250px',
        nonSelectedText: 'Выбрать ПИ',
        selectAllText: 'Выбрать все',
        allSelectedText: 'Все ПИ',
        maxHeight: 300,
        checkboxName: 'multiselect[]',
        onChange: function(pi, checked) {
            var pis = $('#pis option:selected');
            selected_pis = [];
            $(pis).each(function(index, pi){
                selected_pis.push($(this).val());
            });
        }
    });
});

function DataDocs(butt){
    searchname = $('#searchname').val();
    selected_pis = selected_pis;
    selected_sources = selected_sources;
    $.ajax({
        url: '/docs_table',
        type: 'POST',
        data: JSON.stringify({searchname:searchname,
                                pis_id:selected_pis,
                                sources_id:selected_sources}),
        success: function(response) {
            if ($(butt).attr('id') == 'postDataDocs')
            $('#search_results').html(response.html);
            // else if ($(butt).attr('id') == 'saveCsvDocs')
            // window.open('/export.csv', '_blank');
        }
    });
}

function saveCsvDocs(){
    window.open('/export.csv', '_blank');
}
</script>
<link rel="stylesheet" href="/static/ext/bootstrap/multiple_select/css/bootstrap-multiselect.css" type="text/css"/>
<script src="/static/ext/bootstrap/multiple_select/js/bootstrap-multiselect.js" type="text/javascript"></script>
<script src="/static/ext/bootstrap/multifilter-master/multifilter.js" type="text/javascript"></script>
{% endblock %}
{% block body %}
<h2>Документы</h2>
<div id='filters'>
    <table class="table table-bordered">
        <tr>
            <td>
            <input class="form-control" id="searchname" type="text"
             placeholder="Найти по названию"/>
            </td>
            <td align="center">
            <select id="sources_type" multiple="multiple" name="select[]">
            {% for source in sources_type %}
            <option value="{{source.id}}">{{source.name}}</option>
            {% endfor %}
            </select>
            </td>
            <td align="center">
            <select id="pis" multiple="multiple" name="select[]">
            {% for pi in dic_pi %}
            <option value="{{pi.pi_id}}">{{pi.pi}}</option>
            {% endfor %}
            </select>
            </td>
            <td align="center">
            <button type="submit" id="postDataDocs" name="postDataDocs" class="btn btn-default" onclick="DataDocs(this)">Найти</button>
            </td>
            <td align="center">
            <button type="submit" id="saveCsvDocs" name="saveCsvDocs" class="btn btn-default" onclick="saveCsvDocs()">Рееестр в CSV</button>
            </td>
        </tr>
    </table>
</div>
<div id="search_results"></div>
{% endblock %}

