<script type="text/javascript">
$(document).on('click', '#doc_id_push', function(){
var doc_id_push = $(this).attr('value');
console.log(doc_id_push)
    $.ajax({
        type: "POST",
        url: '/obj_docs/{{obj_id}}',
        data: JSON.stringify({doc_id_push:doc_id_push}),
        success: function(response) {
            if (response=='Empty') 
                window.location.replace('/objs');
            else
                search('/obj_search/{{obj_id}}');
                $('#obj_docs').html(response.html);
        }
    });
});
</script>


<table class="table table-bordered">
<col width="10">
<col width="40">
<col width="40">
<col width="150">
<col width="350">
<col width="250">
<col width="150">
    <caption>Документы в объекте</caption>
        <tr>
            <th>выбор</th>
            <th>номер объекта</th>
            <th>номер документа</th>
            <th>источник</th>
            <th>название</th>
            <th>полезное ископмое</th>
            <th>группы пи</th>
        </tr>
     {% for doc in obj %}
        <tr>
        <td>
        <button class="btn btn-xs btn-danger" id="doc_id_push" value="{{doc.id}}">Удалить</button>
        </td>
            <td><a href="/obj/{{doc.obj_id}}">{{doc.obj_id}}</a></td>
            <td><a href="/doc/{{doc.id}}" target="_blank">{{doc.id}}</a></td>
            <td>{{doc.source_type}}</td>
            <td>{{doc.name}}</td>
            <td>{{doc.pi}}</td>
            <td>{{doc.group_pi}}</td>
        </tr>
    {% endfor %}
</table>

<table>
<tr>
<td>
<leaflet-map>
<leaflet-scale-control imperial="false"></leaflet-scale-control>

<div id="map" style="width: 600px; height: 400px"></div>

<script>
    L.Map = L.Map.extend({
        openPopup: function(popup) {
            //this.closePopup();
            this._popup = popup;
            return this.addLayer(popup).fire('popupopen', {
                popup: this._popup
            });
        }
    });
    var map = L.map('map').setView([{{obj[0].lat}},{{obj[0].lon}}], 10);
    L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
        maxZoom: 18,
        id: 'examples.map-i875mjb7'
    }).addTo(map);

    var obj = ({{obj|tojson}});
    for (var i = 0; i < obj.length; i++) {
        var lon = obj[i].lon;
        var lat = obj[i].lat;
        var objLocation = new L.LatLng(lat, lon);
        var docMarker = new L.Marker(objLocation).addTo(map).bindPopup('<a href="/doc/'+obj[i].id+'"target="blank">№ '+(obj[i].id).toString()+'</br> Название: '+obj[i].name+'</a>');
        map.addLayer(docMarker)
        var popup = L.popup();
    }


    var markers = new L.layerGroup();
    var RedIcon = L.Icon.Default.extend({
            options: {
                    iconUrl: '/static/ext/leaflet/images/marker-icon-red.png' 
            }
         });
         var redIcon = new RedIcon();
    function viewOnMap(){
        clearMap()
        for (var i = 0; i < docs_res.length; i++) {
            var lon = docs_res[i].lon;
            var lat = docs_res[i].lat;
            var docs_resLocation = new L.LatLng(lat, lon);
            var doc_resMarker = new L.Marker(docs_resLocation, {icon: redIcon}).bindPopup('<a href="/doc/'+docs_res[i].id+'"target="blank">№ '+(docs_res[i].id).toString()+'</br> Название: '+docs_res[i].name+'</a>'+'</br> <a href="#'+docs_res[i].id+'"><em>перейти в таблице</em></a>');
            markers.addLayer(doc_resMarker)
            var popup = L.popup();
            
        };
        map.addLayer(markers)
        return false;
    };
    
    function clearMap(){
        if (map.hasLayer(markers)){
            markers.clearLayers();
            console.log('remove from map')
        }
    }

    L.control.fullscreen().addTo(map);
    L.control.scale().addTo(map);
</script>
</leaflet-map>

</td>
<td>
<p>
<button class="btn btn-info" style="margin-left: 3px;" onclick="viewOnMap()">Показать результаты</br> поиска на карте</button>
</p>
<button class="btn btn-info" style="margin-left: 3px;" onclick="clearMap()">Очистить</button>
</td>
</tr>
</table>
