<table class="table table-bordered">
    <col width="10">
    <col width="40">
    <col width="40">
    <col width="150">
    <col width="350">
    <col width="250">
    <col width="150">
    <caption>Результаты поиска</caption>
        <tr>
            <th>выбор</th>
            <th>номер объекта</th>
            <th>номер документа</th>
            <th>источник</th>
            <th>название</th>
            <th>полезное ископаемое</th>
            <th>группа пи</th>
        </tr>
        {% for doc in docs %}
        <tr>
        <td>
            <button class="btn btn-xs btn-success" id="doc_id_pull" onclick="pullDoc()" value="{{doc.id}}">Добавить</button>
        </td>
            
        {% if doc.obj_id %}
            <td id="obj_id" value="{{doc.obj_id}}"><a href="/obj/{{doc.obj_id}}" target="_blank">{{doc.obj_id}}</a></td>
        {% else %}
            <td></td>
        {% endif %}
            <td><a href="/doc/{{doc.id}}" target="_blank">{{doc.id}}</a></td>
            <td>{{doc.source_type}}</td>
            <td>{{doc.name}}</td>
            <td>{{doc.pi}}</td>
            <td>{{doc.group_pi}}</td>
        </tr>
        {% endfor %}
</table>